body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  outline: none;
}
.background-image {
  background-image: url('../img/third\ temple.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.card img{
  margin-left: -5px;
}
a{
  margin-left: 90px;
}
.container {
  max-width: 800px;
  margin: 50px;
  margin-top: 50px;
  margin-bottom: 400px;
  padding: 20px;
  align-items: center;
  display: wrap;
  width: 500px;
  padding-bottom: 20px;
}

.headline-container {
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  font-size: 1.2em;
  position: left;
  margin-bottom: 100px;
}

.card-container > span {
  background-color: rgb(110, 110, 110);
  color: #c4a484;
  position: absolute;
  font-family: PoppinsMedium;
  top: 0px;
  right: 0px;
  padding: 50px;
  width: 45px;
  font-size: 12px;
  text-align: center;
  }

.card p {
  text-align: center;
  color: rgba(19, 1, 1, 0.767);
}
.slider {
  position: absolute;
  bottom: 0; /* Position the slider at the bottom of the main container */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - 60px); /* Adjust the max height to fit the viewport, considering the navbar height */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
  
.container > h4 {
  font-size: 40px;
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  padding-right: 140px;
  color: rgb(255, 255, 255);
  }
  
 .container > h4 > span {
    color: rgb(245, 188, 0);
    }
    .container > h4 > span3{
      color: rgb(0, 167, 196);
        }
        .container > h4 > span4{
            color: rgb(196, 0, 0);
            }

      .container > h4 > span2 {
        color: rgb(0, 0, 0);
        }
h2{
  color: rgb(255, 255, 255);
}
  
  .slider_content > p {
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  }
  .slider_content>img{
  max-width: 40px;
      height: 0px;
  } 
   a {
      text-decoration: none;
      color: rgba(255, 187, 0, 0.897);
    }

    History>div{
      padding: 70px;
      padding-left: 200px;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    } 

    .card {
      border: 1px solid #ffffff00;
      border-radius: 30px;
      padding: 20px;
      margin: 10px;
      width: 300px;
      max-height: 400px;
      text-align: center;
      background-color: #ffffffd0;
      transition: transform 0.5s;
    }
  
.card:hover {
  transform: scale(1.1); 
}


.card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-width:100%;
  height:200px ;                                                                                    border-radius: 20px;
}
.card h1, .card p {
  margin: 10px;
  align-items: center;
  text-align: center;
}

.container{
 margin-left: 700px;
}

.card-container{
  display: wrap;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.container{
  margin-left: 90px;
} 

.span2{
  color: red;
}



  .caption{
    margin-left: 100px;
  }
 
  #flag{
    margin-left: 1000px;
    margin-top: -150px;
  }
  h1{
    margin-left: 100px;
    background-color: rgba(255, 255, 255, 0.74);
  }
  h2{
    margin-left: 100px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #007bff;
  }
  h3{
    margin-left: 100px;
    background-color: rgba(255, 255, 255, 0.74);
  }
 
  p{
    margin-left: 100px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 10px;
  }
  img{
    margin-left: 100px;
    width: 70%;
    height: 100%;
  }

  